.table-pyme {
  width: 100%;
}

.table-pyme td {
 

  margin: auto;
}
.table-pyme td input {
  background: none;

  text-align: center;
  width: fit-content;
}
.cod-barra-nuevo input {
  width: 100%;
}
.table-pyme td,
th,  input {
  font-size: 0.5rem;
  

}
.table-pyme input, select{

 background: none;
 height: 100%;

}

.ean-error {
  background-color: red;
}
