#eans-module {
  width: 100%;
}

#eans-module td {
  padding: 0.2rem;
  overflow: scroll;
  margin: auto;
}
#eans-module td input {
  background: none;

  text-align: center;
  width: fit-content;
}
.cod-barra-nuevo input {
  width: 100%;
}
#eans-module td,
th {

  font-size: 0.6rem;
  width: 10px;
}

.ean-error {
  background-color: red;
}
